# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars
!*.tfvars.example
.terraform.lock.hcl
crash.log

# Python
__pycache__/
*.egg-info/
.pytest_cache/
.ruff_cache/
.venv/

# Generated reports
vm_inventory.csv
report.*
